.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* margin-bottom: 50px; */
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
}

.login-inputs {
  display: flex;
  /* flex-direction: column; */
  width: 350px;
  height: 30px;

  /* gap: 10px; */
}

.submit-btn {
  border: none;
  padding: 0;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  color: aliceblue;
  background-color: rgb(120, 120, 185);
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
